Django>=4.2,<5.0
python-dotenv==1.0.0
django-environ==0.11.2
djangorestframework==3.14.0
Pillow>=10.3.0
psycopg2-binary==2.9.9
requests==2.32.4
requests-oauthlib==2.0.0
oauthlib==3.3.1
intuit-oauth==1.2.6
PyJWT==2.10.1
cryptography==45.0.5
cffi==1.17.1
pycparser==2.22
certifi==2025.8.3
charset-normalizer==3.4.2
idna==3.10
urllib3==2.5.0
six==1.17.0
enum-compat==0.0.3
gunicorn==22.0.0
whitenoise==6.7.0
orjson==3.11.0
celery==5.4.0
amqp==5.2.0
kombu==5.3.7
redis==5.0.4
django-celery-beat==2.6.0
django-celery-results==2.5.1
django-timezone-field==6.1.0
django-redis==5.4.0
boto3
django-storages